@import "variables";




/*-------step-2-page-------*/
.radio .svg-icon img {
    height: 60px;
}
.radio-btn {
    @include flex-center;
    margin-top: 7px;
    justify-content: space-between;
}

.temp-img img{
    @include widt;
    margin-top: 10px;
}
.check-multiple.radio {
   padding:20px 30px;  

    li {
        width: 30%;
        margin-bottom: 0;
    }
}
.radio .custom-checkbox {
    display: inline-block;
}
.radio-check-box {
    &:hover {
        color: $secondary-color;
    }

    label {
        margin-bottom: 0;
        cursor: pointer;
    }
    
    input {
        display: none;

        &:checked ~ label{
            color: $secondary-color;
        }
    }
}
.field-cover.other {
    width: 65%;
    margin-top: -10px;
    margin-left: auto;
}

.activities-other {
    width: 65%;
    margin-left: auto;
}
.pictures-upload-sec{
    @include flex-center;
    justify-content: space-between;
    padding: 5px 0;
}
.file-upload-here{
    color: transparent;

    &::-webkit-file-upload-button{
        visibility: hidden;
    }
}
.upload-here {
    position: relative;
   
    label{
        color: $primary-color;
        cursor: pointer;
        margin-bottom: 0;
    }
    input {
        position: absolute;
        @include widt;
        cursor: pointer;
        height: 100%;
    }
}
    
span.upload-svg img {
    width: 70px;
    height: 70px;
}
.uploaded-img {
    margin-right: 15px;
    border-radius: 15px;
    overflow: hidden;
    width: 70px;
    height: 70px;
    object-fit: cover;

    &:last-child {
        margin-right: 0;
    }
}
a.submit-btn.back {
    float: left;

    .material-icons {
        right: 8px;
    }
}


/*-------edit-profile-------*/

.edit-profile-email{
   font-size: $sixtn-font;
    font-weight: $font-weight;
    margin: 35px 0;

    p {
        margin-bottom: 0;
    }
}

.grey-color a{
    color: #999999;
}
input.input-field{
    border: none;
    @include widt;
    padding: 0;
    font-size: $sixtn-font;
}
textarea#fname {
    font-size: $sixtn-font;
}
.edit-form-sub-headings{
    font-size: 26px;
    font-weight: $font-weight;
    margin-bottom: 15px;
    align-items: center;

    label {
        padding-left: 40px;
    }
}

.camera-icon{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    background: $primary-color;
    border-radius: 20px;
    padding: 5px;
    color: $whit-color;
}
.profile-left-camera{ 

    input {
        opacity: 0;
    }
    label {
        position: absolute;
        bottom: -24px;
        left: 367px;
            cursor: pointer;
    }
}
.upload-profile {
    position: relative;
    width: 265px;

    input {
        position: absolute;
        top: 0;
        height: 100%;
        @include widt;
        opacity: 0;
        cursor: pointer;
    }
}

span.cam-icon {
    position: absolute;
    background: $primary-color;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    @include flex-center;
    justify-content: center;
    bottom: 23px;
    right: 80px;

    img {
        width: 45% !important;
        display: block;
    }
}

.profile-left > span {
    color: $secondary-color;
    font-weight: $font-weight;
    font-size: 21px;
}
/*-------about-us-------*/
.about-page {
    @include widt;
    margin-top: 70px;
    margin-bottom: 70px;
}
.about-descrip {
    width: 40%;
    margin-left: auto;
}
.abt-two-div {
    @include flex-center;
}
.abt-two-div .about-descrip .page-heading {
    padding-left: 0;
   
}
.about-img {
    width: 40%;
    margin-left: auto;

    img {
        @include widt;
        height: 70vh;
        object-fit: cover;
        border-radius: 50px 0 0 50px;
        object-position: left;
        -webkit-box-shadow: 0px 3px 10px 4px #00000059;
        box-shadow: 0px 3px 10px 4px #00000059;
    }
}
.con-img{
     width: 50%;
}

.about-para p{
    font-size: $sixtn-font;
        text-align: justify;
}
/*--------contact-us----------------*/
.light-blue-border {
    border: 3px solid $secondary-color;

    textarea {
        border: none;
        background: none;
        height: 150px;
        padding: 0;
        resize: none;
        @include widt;
    }

    &::input-placeholder{
        color: #bcb8d1;
    }
}
.contact-frm {
    -webkit-box-shadow: 0px 8px 10px 4px #00000038;
    box-shadow: 0px 8px 10px 4px #00000038;
    padding:40px 100px 40px;
    background: $whit-color;





    border-radius: 50px 0 0 50px;
        
    .submit-btn{
        float: none;
        margin: 0 auto;
        width: 100px;
    }

    .page-heading {
        text-align: center;
        padding-left: 0;
    }
}

.contact-p-img {
    width: 52%;
    margin-right: -3%;
    position: relative;

     img {
        width: 80%;
        float: right;
    }
}

/*-----------no_review_page--------------*/
.review-page{
    @include flex-center;
    justify-content: space-between;

    .write-review {
        width: 48%;

        .page-heading {
            padding-left: 0;
        }
        .about-para {
            margin: 50px 0;
        }
    }
}

.write-review-img {
    width: 48%;
    height: 50vh;
    overflow: hidden;
    border-radius: 50px;
}


/*------serch_page------*/
.serch-page {
    margin: 80px 0;
}
.serch-beach-icons {
    width: calc(100% - 100px);
    padding-left: 15px;
}
.serch-page-img {
    padding-left: 50px;

    .location-map img {
        @include widt;
        object-fit: cover;
        overflow: hidden;
        border-radius: 25px;
    }
}
.serch-page-descri {
    padding-right: 50px;

    .page-heading {
        padding-left: 0;
        padding-bottom: 0px;
    }

    .edit-profile-heading {
        padding-left: 0;
    }

    .page-heading .beach-name {
        font-size: 18px;
    }
}
.star-numb{

    .numb{
        font-size: $sixtn-font;
        font-weight: $font-weight;
        margin-left: 20px;
    }
    .star-rated .material-icons {
        font-size: 20px;
    }
}
.serch-beach-img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    overflow: hidden;

     img {
        @include widt;
        height: 100%;
        object-fit: cover;
    }
}
.review-items .serch-beach-img{
    width: 60px;
    height: 60px;
    border-radius: 13px;
}

.serch-beach{
    margin-top:15px;
    display: flex;
   align-items: flex-start;
}
.serch-beach-icons .custom-checkbox {
    float: right;
}
.ser-icons {
    list-style: none;
    display: flex;
    padding: 0;
    flex-flow: wrap;
    margin-bottom: 0;

    li {
        width: 10%;
        margin-bottom: 15px;
    }
}

span.read-mor {
    float: right;
    margin-left: auto;
    font-size: $sixtn-font;
    text-decoration: underline;
    margin-top: -8px;
    font-weight: $font-weight;
}

.ser-icons .svg-icon img {
    margin-right: 0px;
}
ul.ser-icons li:last-child {
    padding-right: 0;
    margin: 0;
}
.serch-page-details {
    margin: 20px 0 0 0;
    border-bottom: 1px solid $secondary-color;
    padding-bottom: 25px;

    &:nth-child(7){
        border: none;
    }
}


/*-------Search 2-------*/
.like-review {
    margin-left: auto;
}
.serch-beach-icons.w-100 .custom-checkbox {
    float: left;
}
.src-review-list {
    border-top: 1px solid $secondary-color;
    margin-top: 30px;
    padding-top: 25px;
    display: inline-block;
    @include widt;
}
.review-list-title {
    color: $secondary-color;
    font-size: 18px;
    line-height: 1;
}
.auth-info {
    @include flex-center;
    margin-bottom: 15px;
}
.auth-profile {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 20px;

     img {
        height: 100%;
        @include widt;
        object-fit: cover;
    }
}

.auth-name {
    font-weight: 800;
}
.auth-info{

    .date {
        font-weight: $font-weight;
    }
    .auth-info .star-rated {
        margin-left: auto;
    }
}
.src-review-cover {
    margin-top: 30px;
}

.review-desc p a {
    font-weight: 800;
    text-decoration: underline;
}
.review-items {
    margin-bottom: 30px;

    .rev-subtitle {
        font-weight: 800;
    }
}
.beach-gallery {
    display: flex;
    flex-flow: wrap;
}
.beach-gallery-items {
    width: calc(25% - 15px);
    height: 9vw;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;

    img {
        @include widt;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
    }
    &:hover img {
        transform: scale(1.15);
    }
}
.one-by-four .beach-gallery-items:nth-child(4n) {
    margin-right: 0;
}


/*-----Review-----*/
.one-by-five .beach-gallery-items {
    width: calc(20% - 12px);
    height: 7.5vw;
    margin-right: 15px;
    margin-top: 20px;

    &:nth-child(5n) {
        margin-right: 0;
    }
}
.my-review-items .review-items {
    background: #f8f8f8;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;

    .serch-page-details {
        display: flex;
        align-items: center;
        margin-top: 15px;
        border-top: 1px solid #ddd !important;
        padding-top: 20px;
    }
}
.del-rev button {
    padding: 0;
    border: 0;
    background: transparent;
}

.beach-info-list {
    margin-bottom: 20px;

    ul {
        padding: 0;
        margin: 0;
    }
    li {
        display: inline-block;
        margin-right: 15px;
    }
    .info-title {
        font-weight: 800;
        margin-right: 15px;
    }
    span {
        color: $secondary-color;
        font-weight: $font-weight;
    }
}

.review-restric{
    position: relative;

    img {
        height: 22px;
        width: 22px;
    }
    &::before {
        content: "";
        position: absolute;
        height: 4px;
        width: 26px;
        background: #c80000;
        transform: rotate(45deg);
        top: 11px;
        left: -1px;
        z-index: 1;
    }
}
/*-----------privacy&policy--------*/
.privacy-policy {
   line-height: 1.6;

   .page-heading{
        text-align: center;
        padding-left:  0;
    }
}

.privacy-desc{
    font-size: $sixtn-font;
    margin-bottom: 30px;

    ul li {
        font-size: $sixtn-font;
        color: $primary-color;
            padding-bottom: 5px;
    }
}

span.arrow img {
    width: 20px;
    padding-right: 5px;
}
/*-------16/11---------*/
.privacy-two-sec{
    display: flex;

    li {
        list-style: disc;
    }
}
.priv-right {
    width: 68%;
    margin-left: 25px;
}
.priv-right .page-heading{
    padding-bottom: 20px;
    text-align: left;
}
.privacy-policy a{
    text-decoration: underline;
}

.thank-mess {
    margin-bottom: 50px;
}
.priv-sidebar-left {
    width: 28%;
    overflow: auto;
    height: 100%;
    margin-right: 25px;

    li {
        list-style: none;
        padding-left: 0;

        &:last-child a {
            margin-bottom: 0;
        }
    }
    a{
        display: block;
        text-decoration: none !important;
        margin-bottom: 10px;
        font-weight: 400;
    }

    .field-border {
        padding: 25px 25px;
        margin-bottom: 20px;
    }
}
.priv-right ul {
    padding-left: 17px;
}



/******edit_profile*********media-query*********/
@media only screen and (max-width: 1699px){
.uploaded-img img {
    width: 60px;
    height: 60px;
}
.radio .svg-icon img {
    height: 50px;
}
.check-multiple.radio {
    padding: 15px 30px;
}
.about-img img {
    height: 60vh;
}

.about-page {
    margin-top: 60px;
    margin-bottom: 60px;
}
.about-descrip {
    width: 36%;
}

.contact-frm {
    padding: 40px 80px 40px;

    .submit-btn {
        width: 110px;
    }
}
.write-review .about-para {
    margin: 40px 0;
}
.review-page {
    margin-bottom: 0px;
}
.serch-page {
    margin: 80px 0;
}

.serch-page-descri .page-heading .beach-name {
    font-size: 20px;
}
.svg-icon img {
    height: 25px;
}

span.read-mor {
    font-size: 18px;
    margin-top: 0;
}
.star-numb .numb {
    font-size: $sixtn-font;
}
.serch-page-details {
    margin: 15px 0 0 0;
    padding-bottom: 15px;
}
.serch-page-descri .page-heading {
    padding-bottom: 0;
}

.serch-beach {
    margin-top: 10px;
}
.review-desc p {
    font-size: 15px;
}
.review-items .rev-subtitle {
    font-size: 15px;
}
.auth-name {
    font-size: 15px;
}
.review-list-title {
    font-size: $sixtn-font;
}

/*---13 Sept 2021---*/
.review-des-fiveimgs .fiveimgs {
    width: 90px;
    height: 90px;
}
.beach-gallery-two-ad {
    margin-top: 25px;
}
}
/*----------------------*/
@media only screen and (max-width: 1400px){
.light-blue-border textarea {
    height: 100px;
}
.write-review .about-para {
    margin:  40px 0;
}

.star-numb .numb {
    font-size: 14px;
}
.serch-page-descri {
    padding-right: 15px;

    .page-heading .beach-name {
        font-size: 18px;
    }
}

/*---13 Sept 2021---*/
.beach-gallery-two-ad {
    margin-top: 20px;
}


.priv-right {
    margin-left: 15px;
}
.priv-sidebar-left {
    margin-right: 15px;

    .field-border {
        padding: 20px 15px;
    }
}
}
/*****************************************/
@media only screen and (max-width: 1300px){
span.cam-icon {
    bottom: 18px;
    right: 91px;
}
.uploaded-img {
    border-radius: 10px;

    img {
        width: 60px;
        height: 60px;
    }
}

.activities-other {
    margin-bottom: 6px;
}
.field-cover.other {
    margin-bottom: 6px;
}
.pictures-upload-sec {
    padding: 10px 0;
}
/*----------------*/

.about-page {
    margin-top: 45px;
    margin-bottom: 45px;
}
input.input-field {
    font-size: 15px;
}
.contact-frm {
    padding: 40px 70px 40px;
}
span.upload-svg img {
    width: 95px;
    height: 62px;
}
.edit-profile-email {
    margin: 25px 0;
}
.write-review .about-para {
    margin: 25px 0;
}
.write-review-img {
    height: 40vh;

    img {
        @include widt;
    }
}

.serch-page {
    margin: 40px 0;
}
.src-review-list {
    margin-top: 20px;
}
}
/*--------------------------------------*/
@media only screen and (max-width: 1200px){
.about-para p {
    font-size: 14px;
}
.about-descrip {
    width: 40%;
}
/*---------------*/
input.input-field {
    font-size: 14px;
}
.one-by-five .beach-gallery-items {
    width: calc(20% - 8px);
    margin-right: 10px;
    margin-top: 15px;
}
.serch-page-descri .page-heading .beach-name {
    font-size: $sixtn-font;
}
.star-numb .star-rated .material-icons {
    font-size: 18px;
}
.review-desc p {
    font-size: 13px;
}
.review-items .rev-subtitle {
    font-size: 14px;
}
.auth-name {
    font-size: 14px;
}
.beach-info-list {
    .info-title {
        font-size: 14px;
    }
     span {
        font-size: 14px;
    }
}
.svg-icon img {
    height: 20px;
}
.serch-beach-img {
    width: 90px;
    height: 90px;
}
select.form-control.src-filter.ml-auto {
    font-size: 14px;
}
.src-filter {
    background-size: 14px;
}
span.read-mor {
    font-size: 14px;
}
.count {
     font-size: 14px;
    width: 25px;
    height: 25px;
}
.radio .svg-icon img {
    height: 45px;
}
span.cam-icon {
    bottom: 16px;
    right: 110px;
}
.serch-page-img {
    padding-left: 20px;
}
.beach-gallery-items {
    width: calc(25% - 8px);
    height: 10vw;
    border-radius: 12px;
    margin-right: 10px;
    margin-top: 10px;
}
.review-restric::before {
    height: 3px;
    width: 23px;
    top: 11px;
    left: 0px;
}

/*---13 Sept 2021---*/
.review-des-fiveimgs .fiveimgs {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.priv-right {
    margin-left: 10px;
}
.priv-sidebar-left {
    margin-right: 10px;
}

}
/*--------------------------------------*/
@media only screen and (max-width: 992px){
.abt-two-div {
    display: block;
    margin: 0 auto;
    width: 90%;
}
.about-img img {
    border-radius: 20px;
    height: auto;
}
.about-descrip {
    @include widt;
    margin-left: unset;
}
.about-img {
    @include widt;
    margin-left: unset;
    margin-top: 30px;
}
.abt-two-div .about-descrip .page-heading {
    text-align: center;
}

.contact-p-img {
    width: 90%;
    margin: 0 auto;

    img {
        @include widt;
        float: none;
    }
}
.contact-frm {
    border-radius: 50px;
}
.edit-profile-email {
    font-size: 14px;
}

.upload-profile {
    @include widt;

    input {
        width: 70%;
    }
}

.write-review-form {
    @include widt;
}
span.cam-icon {
    height: 30px;
    width: 30px;
    bottom: 16px;
    right: 60px;

    img {
        width: 55% !important;
    }
}

.write-review-img {
    height: 100%;
}
.privacy-desc p {
    font-size: 14px;
}
.serch-page-img {
    padding-left: 15px;
    margin-top: 30px;
}
.auth-info .date {
    display: block;
}
.auth-profile {
    margin-right: 10px;
}
.serch-page.view-review-pg .section-heading {
    margin-bottom: 0;

     p {
        margin-bottom: 10px;
    }
}
/*---13 Sept 2021---*/
.review-des-fiveimgs .fiveimgs {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 7px;
}
.beach-gallery-two-ad {
    margin-top: 15px;
}

.privacy-two-sec {
    display: block;
}
.priv-sidebar-left {
    margin-right: 0;
    @include widt;
    position: inherit;
}
.priv-right {
    margin-left: 0;
    @include widt;
}

}

/*--------------------------------------*/
@media only screen and (max-width: 767px){
.serch-page {
    margin: 30px 0;
}
.src-review-list {
   margin-top: 15px;
    padding-top: 15px;
}
.serch-page-img {
    padding-left: 15px;
    margin-top: 15px;
}

.beach-gallery-items {
    width: calc(25% - 12px);
    height: 130px;
    margin-right: 15px;
    margin-top: 15px;
}
.upload-profile input {
    @include widt;
}
.one-by-five .beach-gallery-items {
    width: calc(20% - 8px);
    height: 16.5vw;
    margin-top: 10px;
}
.serch-beach-img {
    width: 80px;
    height: 80px;
}
.contact-frm {
    padding: 40px;
}
span.cam-icon {
    bottom: 10px;
    right: 11px;
}
.about-page {
    margin-top: 30px;
    margin-bottom: 35px;
}
.page-heading {
    padding-bottom: 20px;
}

/*---13 Sept 2021---*/
.review-des-fiveimgs .fiveimgs {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-right: 15px;
}
.beach-gallery-two-ad {
    margin-top: 25px;
}
}
/*--------------------------------------*/
@media only screen and (max-width: 500px){
.pictures-upload-sec {
    padding: 0;
}
.contact-frm {
    border-radius: 30px;
        padding: 20px;
}
.light-blue-border {
    border: 2px solid $secondary-color;
}
.upload-profile {
    width: 100px;
    margin: 0 auto;
}
span.cam-icon {
    bottom: 15px;
    right: 0px;
}
.activities-other {
    @include widt;
}
span.upload-svg img {
    width: 85px;
    height: 52px;
}
.check-multiple.radio {
    display: flex;
}
.field-cover.other {
    @include widt;
}
.src-filter {
    padding: 10px;
}
.serch-beach {
    justify-content: space-between;
}
.svg-icon img {
    height: 18px;
}
.serch-beach-img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.serch-beach-icons {
    width: calc(100% - 60px);
}
.privacy-desc ul li {
    font-size: 14px; 
}
.write-review-img {
    @include widt;
}

.review-page {
    display: block;

    .write-review {
        @include widt;
        margin-bottom: 90px !important;
    }
}
.my-review-items .review-items {
    padding: 10px;
}
.star-wid-loc {

    .d-flex {
        display: block !important;
    }
    .star-numb {
        margin-left: 0 !important;
    }
}
.review-items .serch-beach-img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.serch-page-descri {
    padding-right: 15px !important;
}
.beach-gallery-items {
    width: calc(25% - 8px);
    height: 80px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.about-img {
    margin-top: 0;
}

.auth-profile {
    height: 45px;
    width: 45px;
    margin-right: 10px;
}
.auth-info {
    margin-bottom: 8px;

     .date {
        display: block;
    }
}
.serch-page {
    margin: 30px 0;
}
.edit-profile-email {
    margin: 0 0 25px;
}
.ser-icons li {
    width: 12%;
}
.count {
    padding: 0 10px;
}

/*---13 Sept 2021---*/
.review-des-fiveimgs .fiveimgs {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 10px;
}
.beach-gallery-two-ad {
    margin-top: 15px;
}
.privacy-two-sec li {
    padding-left: 0;
   
}
.priv-right ul {
    padding-left: 30px;
}
}